<div class="container my-container">
    <form action="/searchForm" method="post">
        <div class="form-group">
            <h2>Search by Artist:</h2>
            <input type="text" name="artist" class="form-control" required/>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" name="search" class="form-control"/>
        </div>
    </form>
</div>